# Hugo build output
public/
resources/
hugo_stats.json

# Themes (if using a theme via Git submodule)
# themes/*
# themes/base # created by me. so don't ignore it.

# Temporary files & OS junk
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
*.bak

# Editor files
.idea/
.vscode/
*.log

# Hugo cache & temp data
.cache/
hugo_cache/
.hugo_build.lock


# .github/workflows artifacts
sync_microblogs.py