{{- $publishers := dict }}
{{- range where .Site.RegularPages "Section" "noted" }}
	{{- with .Params.isBasedOn }}
		{{- with .publisher }}
			{{- $count := index $publishers . | default 0 }}
			{{- $publishers = merge $publishers (dict . (add $count 1)) }}
		{{- end }}
	{{- end }}
{{- end }}
{{- if gt (len $publishers) 0 }}
<div class="widget-taglist widget">
	<h4 class="widget__title">Publishers ({{ len $publishers }})</h4>
	<div class="widget__content">
	{{- range $name, $count := $publishers }}
		{{- if ge $count 3 }}
		<a class="widget-taglist__link widget__link btn" href="#" title="{{ $name }}">
			{{- $name -}}{{- if $.Site.Params.widgets.publisherlist.counter }} ({{ $count }}){{ end -}}
		</a>
		{{- end }}
	{{- end }}
	</div>
</div>
{{- end }}
